SECRET_KEY=django-insecure-replace-this-with-a-50-char-random-string
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=stockup
DB_USER=postgres
DB_PASSWORD=Deon@okant10
DB_HOST=localhost
DB_PORT=5432

# Dev: http://localhost:5173 | Prod: https://yourdomain.com
FRONTEND_URL=http://localhost:5173

# Gmail SMTP — use an App Password, NOT your account password
# Get one at: https://myaccount.google.com/apppasswords
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=teamstockup0@gmail.com
EMAIL_HOST_PASSWORD=qhbdfotjotssdqpy
DEFAULT_FROM_EMAIL=StockUp <teamstockup0@gmail.com>